@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Blue 500 */
  --color-secondary: #ec4899; /* Pink 500 */
  --color-accent: #8b5cf6; /* Violet 500 */
  
  /* You can add custom fonts too */
  /* --font-display: "Satoshi", "sans-serif"; */
}

/* 
  Now you can use these classes in your code:
  bg-primary, text-accent, border-secondary
*/
