services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: my_db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  pma:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root_password
    depends_on:
      - db

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root_password
      DB_NAME: my_db
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "3000:3000"
    stdin_open: true # Required for React's terminal interaction
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules
  radius:
    image: 2stacks/freeradius
    ports:
      - "1812:1812/udp" # Authentication
      - "1813:1813/udp" # Accounting
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=root_password
      - DB_NAME=radius_db
      - RADIUS_KEY=testing123 # Shared secret
    depends_on:
      - db

volumes:
  db_data:
