version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: my_db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root_password
      DB_NAME: my_db
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  # client:
  #   build: ./client
  #   ports:
  #     - "3000:3000"
  #   stdin_open: true # Required for React's terminal interaction
  #   depends_on:
  #     - server
  #   volumes:
  #     - ./client:/app
  #     - /app/node_modules

volumes:
  db_data:
